/*
modal
modal__container
modal__close-button
modal__title
modal__form
modal__input-name
modal__input-description
*/

.modal {
  font-family: "Inter", Arial, sans-serif;
  position: fixed;
  background-color: rgba(7, 7, 7, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  visibility: visible;
  transition: visibility 0s 0.5s, opacity 0.5s linear;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal_opened {
  display: flex;
  opacity: 1;
  /*visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;*/
}

.modal__container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  width: 430px;
  min-height: 330px;
  border: none;
  position: relative;
}

.modal__close-button {
  background: transparent url(../images/close-icon.svg) center no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.modal__title {
  color: rgba(0, 0, 0, 1);
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;

  margin: 34px auto 54px 36px;
}

.modal__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 358px;
  height: 27.26px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-left: 36px;
  margin-right: 36px;
}

.modal__input-name {
  margin-bottom: 29.74px;
}

.modal__input-description {
  margin-bottom: 40px;
}

.modal__save-button {
  width: 358px;
  height: 50.15px;
  margin: 0 36px 36.51px;
  background: #000;
  border-radius: 2px;
  border: 0;

  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}
